*~
.*
build/*
*.wpr
*.wpu
data/knots
CMakeFiles
Makefile
*.cmake
*.a
bin/
CMakeCache.txt
data/bagfiles/
data/clouds/
data/depths/
data/images/
data/rgbs/
data/phasespace_rigid_info/
data/boundary/
lib/phasespace/src/examples/example1
lib/phasespace/src/examples/example2
bulletsim_binaries/