<launch>

  <arg name="camera" default="kinect"/>
  <arg name="bus1" default="1"/>
  <arg name="bus2" default="2"/>
  
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="$(arg camera)1" />
    <arg name="device_id" value="$(arg bus1)@0" />
    <arg name="depth_registration" value="true" />
  </include>
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="$(arg camera)2" />
    <arg name="device_id" value="$(arg bus2)@0" />
    <arg name="depth_registration" value="true" />
  </include>

  <node name="drop1" pkg="topic_tools" type="drop" args="/$(arg camera)1/depth_registered/points 2 3 /drop/$(arg camera)1/points"/>
  <node name="drop2" pkg="topic_tools" type="drop" args="/$(arg camera)2/depth_registered/points 2 3 /drop/$(arg camera)2/points"/>
  
  <node name="phasespace_simple_publisher" pkg="binary_symlinks" type="phasespace_simple_publisher" output="screen" args="--frequency=30"/>

  <node name="phasespace_transforms_node" pkg="binary_symlinks" type="phasespace_transforms_node" output="screen" args=""/>
  
  <node name="preprocessor_color_node1" pkg="binary_symlinks" type="preprocessor_color_node" output="screen"  args="--inputTopic=/drop/$(arg camera)1/points --nodeNS=/preprocessor/$(arg camera)1"/> 
  <node name="preprocessor_color_node2" pkg="binary_symlinks" type="preprocessor_color_node" output="screen"  args="--inputTopic=/drop/$(arg camera)2/points --nodeNS=/preprocessor/$(arg camera)2"/> 

</launch>