<launch>

  <arg name="camera" default="kinect1"/>
  <arg name="bus" default="1"/>
  <arg name="kinectInfo" default="pr2head"/>
  
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="device_id" value="$(arg bus)@0" />
    <arg name="depth_registration" value="true" />
  </include>

  <node name="drop" pkg="topic_tools" type="drop" args="/$(arg camera)/depth_registered/points 2 3 /drop/points"/>

  <node name="phasespace_simple_publisher" pkg="bulletsim_binaries" type="phasespace_simple_publisher" output="screen" args="--frequency=30"/>

  <node name="phasespace_transforms_node" pkg="bulletsim_binaries" type="phasespace_transforms_node" output="screen" args="--cameraTopics=/$(arg camera) --kinectInfo_filenames=$(arg kinectInfo)"/>
  
  <node name="preprocessor_color_node" pkg="bulletsim_binaries" type="preprocessor_color_node" output="screen"  args="--inputTopic=/drop/points --nodeNS=/preprocessor/$(arg camera)"/> 

</launch>