<launch>
  <arg name="make_sim_frame" default="true"/>

	<node name="tracker" pkg="binary_symlinks" type="tracker_node" output="screen"  args="--pointPriorDist=0.02 --borderPriorDist=0.8 --pointOutlierDist=0.05 --kp_cloth=300 --kd_cloth=20"/>
  
  <!-- rosbag record /kinect1/depth_registered/points /kinect1/depth_registered/image_rect /kinect1/rgb/image_rect_color -O test -->
  
  <node pkg="rosbag" type="play" name="rosbag" args="/home/alex/bagfiles/two_color_double_fold_pc.bag -r 0.5" /> 

  <!--<node name="drop1" pkg="topic_tools" type="drop" args="/kinect1/depth_registered/points 2 3 /drop/points"/> -->
  
  <node name="preprocessor" pkg="binary_symlinks" type="preprocessor_node" output="screen"  args="--inputTopic=/kinect1/depth_registered/points --downsample=0.007 --removeOutliers=true --clusterMinSize=20 --zClipLow=0.01"/> 

  <group if="$(arg make_sim_frame)">
    <node name="sim_kinect_frame_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 head_mount_kinect_ir_link camera_link 10"/>
  </group>
  
</launch>
