<launch>
  <arg name="make_sim_frame" default="true"/>

  <include file="$(find openni_launch)/launch/openni.launch">
		<arg name="camera" value="kinect1"/>
		<arg name="device_id" default="B00363711480052B" />
		<arg name="depth_registration" value="true" />
	</include>
	
	<!-- <include file="$(find openni_launch)/launch/openni.launch">
  	<arg name="camera" value="kinect2" />
		<arg name="device_id" default="B00362625491051B" />
	</include> -->
	
	<!-- <include file="$(find openni_launch)/launch/openni.launch">
  	<arg name="camera" value="kinect3" />
		<arg name="device_id" default="A00361A03404051A" />
	</include> -->
  
  <node name="drop1" pkg="topic_tools" type="drop" args="/kinect1/depth_registered/points 2 3 /drop/points"/>
  
  <node name="preprocessor" pkg="binary_symlinks" type="preprocessor_node" output="screen"  args="--inputTopic=/drop/points --removeOutliers=false"/>
  
  <group if="$(arg make_sim_frame)">
    <node name="sim_kinect_frame_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 head_mount_kinect_ir_link camera_link 10"/>
  </group>

</launch>
